body {
    font-family: "Source Sans Pro", sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 61.6px;
}

h2 {
    font-size: 48px;
    line-height: 52.8px;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 35.2px;
}

h5 {
    font-size: 24px;
    line-height: 26.4px;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

.text-s {
    font-size: 14px;
    line-height: 19.6px;
}

.text-n {
    font-size: 16px;
    line-height: 22.4px;
}

.text-m {
    font-size: 18px;
    line-height: 25.2px;
}

.text-l {
    font-size: 20px;
    line-height: 28px;
}

.text-pc {
    color: #223354;
}

.text-sc {
    color: #1ab4d7
}

.c-info {
    color: #b0a0fd;
}

.c-success {
    color: #27ae60;
}

.c-warning {
    color: #e2b93b;
}

.c-error {
    color: #eb5757;
}

.c-b1 {
    color: #000000;
}

.c-b2 {
    color: #1d1d1d1d;
}

.c-b3 {
    color: #282828;

}

.c-w {
    color: #ffffff;
}

.c-g1 {
    color: #333333;
}

.c-g2 {
    color: #4f4f4f;
}

.c-g3 {
    color: #828282;
}

.c-g4 {
    color: #bdbdbd;
}

.c-g5 {
    color: #e0e0e0;
}

.p-l {
    padding-left: 48px;
}

.p-t {
    padding-top: 48px;
}

.w-52 {
    width: 300px;
}

.m-l {
    margin-left: 48px;
}

.pl-2 {
    padding-left: 32px;
}

.padding-t {
    padding-top: 19px;
}

.padding-b {
    padding-bottom: 19px;
}

.border {
    border: 1px solid #bdbdbd;
}

.m-t {
    margin-top: 68px;
}

.margin-t {
    margin-top: 48px;
}

.wd-395 {
    width: 395px;
}

.h-145 {
    height: 145px;
}

.margin {
    margin-top: 149px;
}

.margin-l {
    margin-left: 37px;
}

.bg-c1 {
    background-color: #edf0f5;
}

.input-rules {
    padding: 1px;
}

.mb1 {
    margin-bottom: -27px;
}

.pleft {
    padding-left: 37px;
}

.h-200 {
    height: 200px;
}

.ptop {
    margin-top: 25px;
}

.header {
    display: flex;
}

.main {
    display: flex;
}

.main1 {
    display: flex;
}

.footer {
    display: flex;
}

.p-l3 {
    padding-left: 3px;
}

.m-t119 {
    margin-top: -108px;
}

.bg-c {
    border: 1px solid #e2b93b;
}

.margin-top {
    margin-top: 20px;
}

.margin1 {
    margin: -47px 0 0 12px;
}

.border-c {
    border: 1px solid #27ae60;
}

.border-w {
    border : 1px solid #e2b93b;
}

.border-e {
    border: 1px solid #eb5757;
}